:root {
    --measure-half: 0.625rem;
    
    --measure-1: 1rem;
    --measure-1-half: 1.265rem;
    --measure-2: 1.6rem;
    --measure-3: 2.56rem;
    --measure-4: 4.096rem;
    --measure-5: 6.5536rem;

    --color-text: #3A2818;
    --color-main: #EDDFBF; /* Dutch White */
    --color-dark-accent: #593196;
    --color-text-on-dark: white;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: var(--measure-3);
}

#header {
    padding: var(--measure-2);

    border-radius: var(--measure-2) var(--measure-2) 0 0;
    background-color: var(--color-dark-accent);
    color: var(--color-text-on-dark);
}

#header * {
    margin: 0;
}

#main {
    padding: 0 var(--measure-2) var(--measure-2) var(--measure-2);
}

.header {
    margin: var(--measure-2);
}

legend {
    margin-bottom: var(--measure-2);
}

.five_scale_explanation p {
    font-size: var(--measure-1);
    margin-bottom: 0;
}

.workshop_flexbox {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--measure-1);
}

.five_scale_explanation {
    flex-basis: 20rem;
    flex-grow: 1;
}

.workshop_group {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

.five_scale_explanation {
    padding: var(--measure-1-half);
}

.workshop_group > div:nth-child(n+2) {
    margin-top: var(--measure-2);
}

.control-group > * {
    margin-bottom: var(--measure-1);
}

.control-group {
    margin-bottom: var(--measure-half);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.form-control textarea {
    max-height: 5rem;
}

.separator {
    margin: var(--measure-2) 0 var(--measure-2) 0;
}